<ul class="sub-menu"><!-- start sub menu -->
  <li class=<%= get_action_klass('main') %>>
    <%= link_to about_us_path do %>
        <span>About Us</span>
    <% end %>
  </li>
  <li class=<%= get_action_klass('contact') %>>
    <%= link_to new_contact_path do %>
        <span>Contact Us</span>
    <% end %>
  </li>
  <li class=<%= get_action_klass('partners') %>>
    <%= link_to partners_path do %>
        <span>Our Partners</span>
    <% end %>
  </li>
  <li class=<%= get_action_klass('help') %>>
    <%= link_to help_path do %>
        <span>LifeLine Help</span>
    <% end %>
  </li>
</ul><!-- end sub menu -->