<!-- ******************** homepage jquery slider ***************** -->
<div class="home-banner-wrap"><!-- home banner wrap -->
  <ul>
    <li class="jqslider"><!-- JQUERY SLIDER -->
      <div class="home-banner-main"><!-- MAIN HOME BANNER -->
        <h2>Emergency Response Solutions</h2>
        <p>
          No two medical emergencies are alike.  In fact, you may go your entire professional career without
          encountering one significant emergency.  But in the event you are not so fortunate, how will you respond?
          How will your team respond? If the ambulance is not there within the first few minutes do you have the
          skills necessary to help save a life? Let LifeLines skilled and experienced emergency medical personnel
          teach you and your team those critical life saving skills that could someday help save a life -- possibly
          your own.
        </p>
      </div> <!-- end home banner main -->
      <div class="home-banner-sub"><!-- HOME BANNER SUB -->
        <div class="home-banner-sub-content"><!-- HOME BANNER SUB CONTENT -->
          <%= link_to image_tag("ers.png", :size => '436x270'), "#" %>
        </div><!-- END HOME BANNER SUB CONTENT -->
      </div><!-- END HOME BANNER SUB -->
    </li><!-- END JQUERY SLIDER -->
    <li class="jqslider"><!-- JQUERY SLIDER -->
      <div class="home-banner-main"><!-- MAIN HOME BANNER -->
        <h2>Comprehensive Service</h2>
        <p>
          LifeLine gives you access to a comprehensive list of products and services to fit every need.
          Whether you’re starting your emergency-response program or revamping an existing program,
          LifeLine is your one-stop solution center.  With access to the world’s greatest technology
          and a network of experienced professionals, LifeLine can help you implement a successful
          program at a single site or nation-wide.
        </p>
      </div><!-- END MAIN HOME BANNER -->
      <div class="home-banner-sub"><!-- HOME BANNER SUB -->
        <div class="home-banner-sub-content"><!-- HOME BANNER SUB CONTENT -->
          <%= image_tag 'service.jpg', :size => '436x270' %>
        </div><!-- END HOME BANNER SUB CONTENT -->
      </div><!-- END HOME BANNER SUB -->
    </li><!-- END JQUERY SLIDER -->
    <li class="jqslider"><!-- JQUERY SLIDER -->
      <div class="home-banner-main"><!-- MAIN HOME BANNER -->
        <h2>Complete Medical Oversight</h2>
        <p>
          Prescriptions from physicians, response orders, logs of batteries, pads, updates and the
          ever-changing list of trained personnel; the list goes on and on.  Safety specialists have
          a multitude of products and procedures that must be kept in proper order and little time to
          add in another.  Add on various federal, state and local ordinances, the task of implementation
          can seem overwhelming.  Let LifeLine simplify your life, organize your data and put it all
          in an easy-to-use online portal, available 24/7/365.
        </p>
      </div><!-- END MAIN HOME BANNER -->
      <div class="home-banner-sub"><!-- HOME BANNER SUB -->
        <div class="home-banner-sub-content"><!-- HOME BANNER SUB CONTENT -->
          <%= link_to image_tag("oversight.JPG", :size => '436x270'), "#"  %>
        </div><!-- END HOME BANNER SUB CONTENT -->
      </div><!-- END HOME BANNER SUB -->
    </li><!-- END JQUERY SLIDER -->
    <li class="jqslider"><!-- JQUERY SLIDER -->
      <div class="home-banner-main"><!-- MAIN HOME BANNER -->
        <h2>Certified Training</h2>
        <p>
          Training is an integral part of any emergency response program.  LifeLine is a Certified
          American Heart Association™ trainer.  Some of the most common classes are HeartSaverAED and
          the Blood Borne Pathogen class.  Proper documentation along with accuracy and access are all
          parts of a properly trained community.  The training you provide is an investment in your
          people and your company – LifeLine will help you do it right.
        </p>
      </div><!-- END MAIN HOME BANNER -->
      <div class="home-banner-sub"><!-- HOME BANNER SUB -->
        <div class="home-banner-sub-content"><!-- HOME BANNER SUB CONTENT -->
          <%= link_to image_tag('training.jpg', :size => '436x270'), "#" %>
        </div><!-- END HOME BANNER SUB CONTENT -->
      </div><!-- END HOME BANNER SUB -->
    </li><!-- END JQUERY SLIDER -->
    <li class="jqslider"><!-- JQUERY SLIDER -->
      <div class="home-banner-main"><!-- MAIN HOME BANNER -->
        <h2>Award Winning Products</h2>
        <p>
          LifeLine represents the best-in-class in medical devices.  Zoll Medical, Phillips Medical
          and Medtronic products are all available from LifeLine.  Our approach is simple:  your needs
          come first.  LifeLine will help you understand your particular requirements and identify
          products and services that fit your needs.
        </p>
      </div><!-- END MAIN HOME BANNER -->
      <div class="home-banner-sub"><!-- HOME BANNER SUB -->
        <div class="home-banner-sub-content"><!-- HOME BANNER SUB CONTENT -->
          <%= image_tag "all_AEDs.JPG", :size => '436x270' %>
        </div><!-- END HOME BANNER SUB CONTENT -->
      </div><!-- END HOME BANNER SUB -->
    </li><!-- END JQUERY SLIDER -->
  </ul>
  <%= javascript_include_tag "jquery.cycle.all.min", "jquery-2-slider" %>
</div><!-- e<script type=​"text/​javascript" src=​"js/​jquery.cycle.all.min.js">​</script>​nd home banner wrap -->