<% provide(:title, "Home") %>

<div class="main-area home-main-area"><!-- HOME MAIN AREA -->
  <div class="main-holder home-holder"><!-- HOME HOLDER -->
    <div class="content_full_width"><!-- CONTENT FULL WIDTH -->
      <div class="callout-wrap"><!-- CALLOUT WRAP -->
                    <span>
                        At LifeLine, our motto is very simple; “Helping People”. But Helping People is more than just our
                        motto; it’s our commitment to help make your business a safer place to work and visit. Let our
                        experienced emergency medical personnel and our certified program administrators help you make
                        your emergency response program the best that it can be. You can make a difference. You <b>can</b>
                        save a life.
                    </span>
      </div><!-- END CALLOUT WRAP -->
      <br class="clear" />
      <div class="one_third"><!-- FIRST COLUMN -->
        <div class="modern_img_frame modern_three_col_large"><!-- SECOND FRAME -->
          <div class="preload_three_col_large">
            <div class="attachment-fadeIn">
              <%= image_tag 'left_pic.jpg', :size => '275x145'  %>
            </div>
          </div>
        </div><!-- END FIRST FRAME -->
        <h6 class="heading bold"><%=  link_to "Safety Equipment", "#" %></h6>
        <p>
          <!-- fill in -->
        </p>
      </div><!-- END FIRST COLUMN -->
      <div class="one_third"><!-- SECOND COLUMN -->
        <div class="modern_img_frame modern_three_col_large"><!-- SECOND FRAME -->
          <div class="preload_three_col_large">
            <div class="attachment-fadeIn">
              <%= image_tag 'middle_pic.jpg', :size => '275x145'  %>
            </div>
          </div>
        </div><!-- END SECOND FRAME -->
        <h6 class="heading bold"><%= link_to "Program Administration", "#" %></h6>
        <p>
          <!-- fill in -->
        </p>
      </div><!-- END SECOND COLUMN -->
      <div class="one_third_last"><!-- THIRD COLUMN -->
        <div class="modern_img_frame modern_three_col_large"><!-- THIRD FRAME -->
          <div class="preload_three_col_large">
            <div class="attachment-fadeIn">
              <%= image_tag 'right_pic.jpg', :size => '275x145'  %>
            </div>
          </div>
        </div><!-- END THIRD FRAME -->
        <h6 class="heading bold"><%= link_to "ILCOR", "#" %></h6>
        <p>
          <!-- fill in -->
        </p>
      </div><!-- END THIRD COLUMN -->
      <br class="clear" />
      <div class="testimonials"><!-- TESTIMONIALS -->
        <blockquote>
          <p>
            Thanks so much for fixing my issue so quickly, I would just like to say that your company has
            provided such amazing customer service/ support to date it has really blown me away (it is very
            rare in business today)<cite>&ndash;Lifeline Customer</cite>
          </p>
        </blockquote>
        <blockquote>
          <p>
            Pretty impressed with the customer service from Lifeline. I have rarely seen such after purchase
            customer service. He actually logged into my server , fixed the file and sent me an explanation on
            how he fixed it. I am glad I made this purchase.If you are looking for a great theme and great after
            purchase service , you have found the guy right here...<cite>&ndash;Lifeline Customer</cite>
          </p>
        </blockquote>
        <blockquote>
          <p>
            Thanks again for helping me, I just want to say your level of attention to your theme buyers on
            providing tech support has been amazing. From helping me with 3rd party plugins to fixing CSS
            code in my site, I have never got this amount of support from buying a theme anywhere else, and
            I've purchased lot of themes in my day. You provide the best level of support, and I really
            appreciate you helping me with my website.<cite>&ndash;Lifeline Customer</cite>
          </p>
        </blockquote>
        <blockquote>
          <p>
            I have downloaded 8 themes from themeforest. This has been the easiest to customize out of them
            all. I've never turned a website around so fast! I'll be looking for more themes from fivesquared
            in the future. Thanks!<cite>&ndash;Lifeline Customer</cite>
          </p>
        </blockquote>
      </div><!-- END TESTIMONIALS -->
    </div><!-- END CONTENT FULL WIDTH -->
  </div><!-- END HOME HOLDER -->
</div><!-- END HOME MAIN AREA -->
<%= javascript_include_tag "testimonial-slider" %>