<% provide(:title, "Administer all Surveys") %>

<div class="main-area"><!-- main area -->
  <%= render 'title_bar' %>
  <div class="main-holder"><!-- main holder -->
    <div id="content"><!-- content -->
      <div class="content_full_width"><!-- start content full width -->
        <%= table_for( @surveys, :html => { :class => 'zebra' } ) do |t| %>
            <%= t.head("Survey Code", "Submit Date", "Total Score" ) %>
            <%= t.body_r do |survey| %>
                <%= t.d do %>
                    <%= link_to survey.survey_code, survey %>
                <% end %>
            <% end %>
        <% end %>
        <%= will_paginate @surveys, :class => 'karma-pages' %>
      </div> <!-- end content full width -->
    </div><!-- end content -->
  </div><!-- end main holder -->
</div><!-- end main area -->
