<ul class="sub-menu"><!-- start sub menu -->
  <li class=<%= get_action_klass('main') %>>
    <%= link_to solutions_path do %>
        <span>Our Solutions</span>
    <% end %>
  </li>
  <li class=<%= get_action_klass('schools') %>>
    <%= link_to schools_path do %>
        <span>Scholastic Solutions</span>
    <% end %>
  </li>
  <li class=<%= get_action_klass('businesses') %>>
    <%= link_to businesses_path do %>
        <span>Business Solutions</span>
    <% end %>
  </li>
  <li class=<%= get_action_klass('dentists') %>>
    <%= link_to dentists_path do %>
        <span>Dental Office Solutions</span>
    <% end %>
  </li>
  <li class=<%= get_action_klass('fire') %>>
    <%= link_to fire_path do %>
        <span>Fire Department Solutions</span>
    <% end %>
  </li>
  <li class=<%= get_action_klass('police') %>>
    <%= link_to police_path do %>
        <span>Police Department Solutions</span>
    <% end %>
  </li>
  <li class=<%= get_action_klass('churches') %>>
    <%= link_to churches_path do %>
        <span>Church Solutions</span>
    <% end %>
  </li>
  <li class=<%= get_action_klass('individuals') %>>
    <%= link_to individuals_path do %>
        <span>Individual Solutions</span>
    <% end %>
  </li>
</ul><!-- end sub menu -->