<div class="one_third"><!-- FIRST COLUMN -->
  <h3>Latest Tweets</h3><!-- BLOG UPDATES -->
  <div class="footer_post">
    <a class="twitter-timeline" width="305" height="350" href="https://twitter.com/LifeLine" data-widget-id="261568544356044800">Tweets by @LifeLine</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div><!-- END TWITTER UPDDATES -->
</div><!-- END FIRST COLUMN -->
<div class="one_third"><!-- SECOND COLUMN -->
  <h3>Useful Links</h3>
  <ul class="blogroll">
    <li><%= link_to 'FDA Safety', "http://www.fda.gov/Safety/MedWatch/default.htm", :target => "_blank" %></li>
    <li><%= link_to 'American Heart Association', "http://www.heart.org", :target => "_blank" %></li>
    <li><%= link_to 'European Resuscitation Council', "https://www.erc.edu", :target => "_blank" %></li>
    <li><%= link_to 'ILCOR', "http://www.ilcor.org", :target => "_blank" %></li>
    <li><%= link_to 'More...', "#" %></li>
  </ul>
</div><!-- END SECOND COLUMN -->
<div class="one_third_last"><!-- THIRD COLUMN -->
  <h3>Follow Us</h3>
  <ul class="social_icons">
    <li><%= link_to 'Contact Us', new_contact_path, :class => 'email' %></li>
    <li><%= link_to 'Facebook', "http://www.facebook.com/LifeLinei", :class => 'facebook', :target => "_blank"  %></li>
    <li><%= link_to 'Twitter', "http://www.twitter.com/lifeline", :class => 'twitter', :target => "_blank"  %></li>
    <li><%= link_to 'LinkedIn', "http://www.linkedin.com/company/lifeline-incorporated", :class => 'linkedin', :target => "_blank"  %></li>
    <li><%= link_to 'YouTube', "http://www.youtube.com/user/LifeLineSupport?feature=mhee", :class => 'youtube', :target => "_blank"  %></li>
    <li><%= link_to 'Pinterest', "http://www.pinterest.com/lifelinei/", :class => 'pinterest', :target => "_blank"  %></li>
  </ul>
</div><!-- END THIRD COLUMN -->