<div class="one_fourth"><!-- FIRST COLUMN -->
  <h3>Latest Tweets</h3><!-- BLOG UPDATES -->
  <div class="footer_post">
    <ul class="twitterList">
      <li><span>Just added myself to the <a href="http://wefollow.com">http://wefollow.com</a> twitter directory under:  #wordpress #themes #webdesign #templates #css</span>
        <br><span class="tweet_days">[about 10 hours ago]</span>
      </li><hr />
      <li><span>@<a href="http://www.twitter.com/zendesk">zendesk</a> Hey guys, the default CSS stopped loading on our support forum. Are you guys making any changes on your end?</span>
        <br><span class="tweet_days">[2 days ago]</span>
      </li>
    </ul>
  </div><!-- END TWITTER UPDDATES -->
</div><!-- END FIRST COLUMN -->
<div class="one_fourth"><!-- SECOND COLUMN -->
  <h3>Useful Links</h3>
  <ul class="blogroll">
    <li><%= link_to 'FDA Safety', "http://www.fda.gov/Safety/MedWatch/default.htm", :target => "_blank" %></li>
    <li><%= link_to 'American Heart Association', "http://www.heart.org", :target => "_blank" %></li>
    <li><%= link_to 'European Resuscitation Council', "https://www.erc.edu", :target => "_blank" %></li>
    <li><%= link_to 'ILCOR', "http://www.ilcor.org", :target => "_blank" %></li>
    <li><%= link_to 'More...', "#" %></li>
  </ul>
</div><!-- END SECOND COLUMN -->
<div class="one_fourth"><!-- THIRD COLUMN -->
  <h3>Follow Us</h3>
  <ul class="social_icons">
    <li><%= link_to 'Contact Us', new_contact_path, :class => 'email' %></li>
    <li><%= link_to 'Facebook', "http://www.facebook.com/LifeLinei", :class => 'facebook', :target => "_blank"  %></li>
    <li><%= link_to 'Twitter', "http://www.twitter.com/lifeline", :class => 'twitter', :target => "_blank"  %></li>
    <li><%= link_to 'LinkedIn', "http://www.linkedin.com/company/lifeline-incorporated", :class => 'linkedin', :target => "_blank"  %></li>
    <li><%= link_to 'YouTube', "http://www.youtube.com/user/LifeLineSupport?feature=mhee", :class => 'youtube', :target => "_blank"  %></li>
    <li><%= link_to 'Pinterest', "http://www.pinterest.com/lifelinei/", :class => 'pinterest', :target => "_blank"  %></li>
  </ul>
</div><!-- END THIRD COLUMN -->
<div class="one_fourth_last"><!-- BLOG FOOTER COLUMN -->
  <h3>Latest Blog Post</h3>
</div><!-- END BLOG FOOTER COLUMN -->