<!-- LOGO -->
<%= link_to image_tag('logo400x200.png', :size => '200x100'), root_path, :class => 'logo' %>
<!-- END LOGO -->

<!-- MAIN NAVIGATION -->
<ul id="menu-main-nav">
  <li class=<%= get_controller_klass('about_us') %>><!-- ABOUT US MENU -->
    <%= link_to about_us_path do %>
        <span><strong>About Us</strong><span class="navi-description">about our company</span></span>
    <% end %>
    <ul class="sub-menu">
      <li><%= link_to new_contact_path do %><span>Contact Us</span><% end %></li>
      <li><%= link_to mission_path do %><span>Our Mission</span><% end %></li>
      <li><%= link_to partners_path do %><span>Our Partners</span><% end %></li>
      <li><%= link_to help_path do %><span>Help</span><% end %></li>
      <li><%= link_to "#" do %><span>Client Login</span><% end %></li>
    </ul>
  </li><!-- END ABOUT US LIVE MENU -->
  <li class=<%= get_controller_klass('products') %>><!-- PRODUCTS MENU -->
    <%= link_to products_path do %>
        <span><strong>Product Solutions</strong><span class="navi-description">about our products</span></span>
    <% end %>
    <ul class="sub-menu">
      <li><%= link_to aeds_path do %><span>Automated External Defibrillators</span><% end %></li>
      <li><%= link_to accessories_path do %><span>AED Accessories</span><% end %></li>
      <li><%= link_to comparison_path do %><span>AED Comparison</span><% end %></li>
      <li><%= link_to registration_path do %><span>AED Registration</span><% end %></li>
    </ul>
  </li><!-- END PRODUCTS MENU -->
  <li class=<%= get_controller_klass('services') %>><!-- SERVICES MENU -->
    <%= link_to services_path do %>
        <span><strong>Our Services & Support</strong><span class="navi-description">about our support & services</span></span>
    <% end %>
    <ul class="sub-menu">
      <li><%= link_to administration_path do %><span>Program Administration</span><% end %></li>
      <li><%= link_to oversight_path do %><span>Medical Oversight</span><% end %></li>
      <li><%= link_to training_path do %><span>Certified Training</span><% end %></li>
      <li><%= link_to financing_path do %><span>Program Financing</span><% end %></li>
      <li><%= link_to laws_path do %><span>Rules & Regulations</span><% end %></li>
      <li><%= link_to faqs_path do %><span>FAQs</span><% end %></li>
      <li><%= link_to help_path do %><span>LifeLine Help</span><% end %></li>
    </ul>
  </li><!-- END SERVICES MENU -->
</ul>